@using SM.Domain.Model;
@model IEnumerable<DeliveryPersonVM>
@{
    ViewBag.Subtitulo = "Listar motoboy";
}
<partial name="_MensagemPartial" />

<header class="d-flex justify-content-between align-items-center bg-green-100 px-3 mt-3">
    <div>
        <h1>
            @ViewBag.Subtitulo
        </h1>
    </div>
    <div>
        <a asp-action="Create" class="btn btn-primary">
            Cadastre Motoboy
            <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" viewBox="0 0 24 24"><path fill="currentColor" d="M14 18q2.5 0 4.25-1.75T20 12q0-2.525-1.838-4.262T13.75 6q-1.45 0-2.72.352q-1.269.352-2.434 1.056l2.962 1.153q.87.368 1.406 1.14T13.5 11.4q0 1.308-.893 2.204t-2.157.896H4.204q-.108.523-.156 1.18T4 17.385V18zm-9.638-4.5H10.4q.887 0 1.493-.607T12.5 11.4q0-.629-.349-1.141t-.959-.77L7.646 8.065q-1.204 1.023-2.036 2.4q-.835 1.375-1.248 3.035M14 19H3v-2.366q0-2.565.79-4.702t2.215-3.677t3.4-2.397T13.75 5q1.489 0 2.806.548t2.307 1.492q.99.943 1.564 2.22Q21 10.537 21 12q0 1.439-.548 2.718q-.548 1.28-1.501 2.233t-2.223 1.501T14 19" /></svg>
            </a>
    </div>
</header>
<main>
    @if (Model.Count() > 0)
    {
        <p>Listar todos os motoboy cadastrados</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">CNPJ</th>
                    <th scope="col">CNH</th>
                    <th scope="col">Data de Criação</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FullName</td>
                        <td>@item.NumberCNPJ</td>
                        <td>@item.NumberCNH</td>
                        <td>@item.DateCreated</td>
                        <td>
                            <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-sm btn-secondary">
                                <i class="fa-solid fa-pen-to-square" title="Alterar"></i>

                            </a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">
                                <i class="fa-regular fa-trash-can"
                                   title="Excluir"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Não há nenhum motoboy cadastrado.</p>
    }
</main>
