@using SM.Domain.Enum
@using SM.Domain.Model
@model AllocationVM

@{
    ViewBag.Title = "Aluguel";
}
<partial name="_MensagemPartial" />
<main>
    <section class="" style="margin-top:10%;">
        @using (Html.BeginForm("Create", "Allocation", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
          <input type="hidden" asp-for="@Model.DeliveryPerson">

        <div class="form-group col-sm-8 col-lg-4 col-xl-4">
                <label asp-for="@Model.MotorcycleID"></label><i class="obrigatorio">*</i>
                <select asp-for="@Model.MotorcycleID" class="form-select" aria-label="Select">
                <option selected disabled>Selecione sua moto</option>
                    @foreach (var item in ViewBag.ListMotorcycle)
                {
                    <option value="@item.Id">@item.ToString()</option>
                }
            </select>
        </div>
            <div class="form-group col-sm-8 col-lg-4 col-xl-4">
                <label asp-for="@Model.PlanID"></label><i class="obrigatorio">*</i>
                <select asp-for="@Model.EPlan" class="form-select" aria-label="Select">
                    <option selected disabled>Selecione o plano</option>
                    @foreach (var item in ViewBag.AllocationPlano)
                    {
                        <option value="@item.EPlan">@item.ToString()</option>
                    }
                </select>
            </div>
            <div class="form-group col-sm-8 col-lg-4 col-xl-6">

                <label asp-for="@Model.StartDateToAllocation" class="col-4 col-form-label">Início<i class="obrigatorio">*</i></label>
                <div class="col-5">
                    <div class="input-group date" id="datepicker">
                        <input type="date" class="form-control" asp-for="@Model.StartDateToAllocation" />
      
                    </div>
                <span asp-validation-for="@Model.StartDateToAllocation" class="text-danger"></span>
                </div>

                <label asp-for="@Model.EndDateToAllocation" class="col-4 col-form-label">Previsão de Entrega<i class="obrigatorio">*</i></label>
                <div class="col-5">
                    <div class="input-group date" id="datepicker">
                        <input type="date" class="form-control" asp-for="@Model.EndDateToAllocation" />

                    </div>
                <span asp-validation-for="@Model.EndDateToAllocation" class="text-danger"></span>
                </div>

            </div>
            <div class="mt-3">
                <a asp-action="Index" class="btn btn-outline-secondary">Cancelar</a>
                <button class="btn btn-primary" type="submit">Salvar</button>
            </div>
        }

    </section>
</main>
